{% load static %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    {% endblock %}
    <meta name="description" content="SmartLook - O sistema que te ajuda a montar o seu guarda-roupa cápsula!!" />
    <title>SmartLook</title>
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div class="content">
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="{% url 'core:home'%}">SMARTLOOK</a>
            <ul>
                <li class="pure-menu-selected"><a href="{% url 'core:home' %}">Início</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'itens:index' %}">Itens/Looks</a></li>
                 {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'armario:lista_armarios' %}">Armário</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'watson_app:chat' %}">Stella</a></li>
                {% endif %}
                <li><a href="{% url 'core:contact' %}">Contato</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:dashboard' %}">Painel</a></li>

                <li><a href="{% url 'accounts:logout' %}">Sair</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
    <div class="content">
    {% block content %}{% endblock %}
    <div class="footer">
        SmartLook - Crie o seu Guarda-Roupa Cápsula!! by Priscila Tribino
        </div>
    </div>
</div>
<script src="{% static 'css/pure-min.css' %}"></script>
</body>
</html>