{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Fale conosco</h1>
            <p>Você pode tirar dúvidas ou conversar com a gente pelo e-mail, chat e instagram!</p>
            <h4>Dá uma olhadinha!</h4>
            <ul>
                <li>Instagram: <a href="https://www.instagram.com/pritribino/">@pritribino</a></li>
            </ul>
            <h4>Se prefefir falar com a gente pelo e-mail, estamos no <a href="mailto:ptribino@gmail.com">ptribino@gmail.com</a> </h4>
            <h4>Para conversar via chat é só logar no sistema e clicar no Menu>Stella!! :)</h4>
        </div>
    </div>
   {% endblock %}
